<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="${basedir}/internallogs/internallog.txt">
	<!-- internalLogFile="d:\Temporal\codemaze\internal_logs\internallog.txt">  -->.
	<!--Deberá cambiar la ruta del registro interno y los parámetros de nombre de archivo a sus propias rutas.-->

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		
		
		
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>
<!-- NLog necesita información sobre dónde colocar los archivos de registro en el sistema de archivos,
cuál será el nombre de estos archivos y cuál es el nivel mínimo de registro que queremos.-->

